/*Theme*/
:root {
    --bg-color: #eee;
    --txt-color: #000;
    --box-color: #A8FFCA;
  }
  
  [data-theme="dark"] {
    --bg-color: #001833;
    --txt-color: #fff;
    --box-color: #24364a;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
    --bg-color: #001833;
    --txt-color: #fff;
    --box-color: #24364a;
    }
  
    [data-theme="light"] {
    --bg-color: #eee;
    --txt-color: #000;
    --box-color: #A8FFCA;
    }
  }

html, body {
    display: table;
    height: 100%;
    width: 100%;
    background-color: var(--bg-color);
  }
h1{
  color: orange;
}
.box{
   color: var(--txt-color);
   display: table-cell;
   vertical-align: middle;
   text-align: center;
   width: 100%;
}
.nbgen{
  margin-top: 10px;
    float: left;
    height: 80%;
    width: 49%;
    background: var(--box-color);
    border: 2px solid var(--txt-color);
    border-radius: 20px;
}
.pfgen{
  margin-top: 10px;
    float: right;
    height: 80%;
    width: 49%;
    background: var(--box-color);
    border: 2px solid var(--txt-color);
    border-radius: 20px;
}

#min , #max , #nbgen, button{
  color: var(--txt-color);
  background: var(--bg-color);
  border: 2px solid var(--txt-color);
  border-radius: 50px;
  padding: 7px 5px;
  width: 50%;
}
#pfimg{
  margin: 20px 100px 20px 100px;
  height: 30%;
}
p{
    margin-top: 20px;
    font-size: 20px;
    
}
button{
    margin-top: 20px;
    cursor: pointer;
}
button:hover{
  background: orange;
}
button:active{
  background: lightblue;
}

.sliderbar {
    margin-top: 10px;
    -webkit-appearance: none;
    width: 53%;
    height: 15px;
    border-radius: 50px;
    background: #ddd;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  .sliderbar:hover {
    opacity: 1;
    background: #fff;
  }
  .sliderbar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background: #00eeff;
    cursor: pointer;
  }
  .sliderbar::-moz-range-thumb {
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background: #00eeff;
    cursor: pointer;
  }

@media screen and (max-width: 600px){
.nbgen{
    width: 98%;
}
.pcgen{
    margin-top: 50px;
    float: left;
    width: 98%;
}
}